.categories-top-block__title.product-name {
	font-weight: 600;
	font-size: 26px;
	line-height: 36px;
	letter-spacing: 0.06em;
	text-transform: none;
	color: #121212;
	padding: 10px 0px 0px 0px;
	@media (max-width: 640px) {
		font-size: 20px;
		line-height: 30px;
	}
}
.product-availability {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reviews {
	display: flex;
	align-items: center;
	justify-content: center;
	&__image {
		img {
			height: 10px;
		}
	}
	&__text {
		margin: 0px 0px 0px 6px;
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		color: #121212;
		opacity: 0.6;
	}
}
.avilability {
	&__rows {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.avilability-row {
	margin: 0px 24px 0px 0px;
	&:last-child {
		margin: 0;
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 24px 0px 0px;
		&:last-child {
			margin: 0;
		}
	}
}
.avilability-row-item {
	&__text {
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		color: #121212;
		opacity: 0.6;
	}
	&__number {
		font-weight: 700;
		font-size: 11px;
		line-height: 18px;
	}
}
/*----------------------product-info-left----------------------*/
.product {
	&__info {
		padding: 32px 0px 0px 0px;
	}
}
.product-info {
	&__columns {
		display: flex;
		@media (max-width: 890px) {
			flex-direction: column;
		}
	}
	&__column {
		min-width: 0;
		flex: 1 0 50%;
		@media (max-width: 890px) {
			width: 100%;
			flex: 1 0 100%;
		}
	}
}
.product-image {
	&__columns {
		display: flex;
		flex-direction: row-reverse;
		column-gap: 16px;
	}
	&__column {
		flex: 1;
		width: 0;
		height: 100%;
		&__big {
		}
	}
	&__big {
		img {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

.product-image-slider {
	&__vertical {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}
}
.product-image-slider-vertical {
	&__arrows {
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
	}
	&__image {
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.product-image__column.big {
	position: relative;
	flex: 1 1 64.5%;
}
.slider-line {
	position: absolute;
	display: flex;
	justify-content: space-between;
}
.slider-line-arrows {
	&__image {
	}
}
.left {
	@media (max-width: 530px) {
		display: none;
	}
}
/*------------------product-info-rigth-----------------------*/
.product-info {
	&__column {
	}
	&__parametrs {
		border-bottom: 2px solid #e6e6e6;
	}
}
.rigth {
	padding: 0px 0px 0px 30px;
	@media (max-width: 890px) {
		width: 100%;
		margin: 0;
	}
}
.product-info-parametrs {
	&__colors {
		display: flex;
		margin: 0px 0px 16px 0px;
	}
	&__type {
		display: flex;
		align-items: center;
		margin: 0px 0px 32px 0px;
	}
	&__sizes {
		display: flex;
		margin: 0px 0px 16px 0px;
	}
	&__type-sizes {
		display: flex;
		margin: 0px 0px 12px 0px;
	}
	&__guide {
		display: flex;
		align-items: center;
		margin: 0px 0px 32px 0px;
	}
}
.parametrs-colors {
	&__text {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		color: #121212;
		opacity: 0.6;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__color {
		margin: 0px 0px 0px 8px;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
	}
}
.product-info-parametrs {
}
.parametrs-type {
	&__columns {
		display: flex;
	}
	&__column {
		margin: 0px 16px 0px 0px;
		&:last-child {
			margin: 0;
		}
	}
}
.border {
	outline: solid 2px #121212;
}
.parametrs-type-column {
	&__image {
		margin: 0px 16px 0px 0px;
		cursor: pointer;
		&:last-child {
			margin: 0;
		}
		box-sizing: content-box;
		max-height: auto;
		max-width: 64px;
		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}
.parametrs-sizes {
	&__text {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		color: #121212;
		opacity: 0.6;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__size {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		color: #121212;
		margin: 0px 0px 0px 4px;
	}
}
.type-sizes {
	&__columns {
		display: flex;
		align-items: center;
	}
	&__column {
		display: flex;
		width: 40px;
		height: 40px;
	}
	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 12px;
		line-height: 13px;
		text-align: center;
		color: #121212;
		opacity: 0.7;
		height: 40px;
		border-radius: none;
		margin: 0px 16px 0px 0px;
		padding: 0px 5px;
		background-color: #f3f0f0;
		cursor: pointer;
		&:last-child {
			margin: 0;
		}
	}
}
.type-sizes__block.s {
	border: 2px solid black;
}
.parametrs-guide {
	&__image {
		img {
			opacity: 0.6;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: #121212;
		opacity: 0.6;
		margin: 0px 0px 0px 6px;
	}
}
.product-info {
	&__cost {
		display: flex;
		align-items: center;
		border-bottom: 2px solid #e6e6e6;
	}
	&__addcard {
		display: none;
	}
}
.product-info-cost {
	&__block {
		font-weight: 700;
		font-size: 22px;
		line-height: 36px;
		text-transform: uppercase;
		color: #121212;
	}
	&__row {
		display: flex;
		align-items: center;
		margin: 32px 0px 32px 24px;
	}
}
.product-info__addcard {
}
.notincart {
	&:hover {
		background-color: #ff9901;
	}
	display: block;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	background-color: #121212;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	opacity: 0.9;
	padding: 17px 24px;
	box-sizing: border-box;
	cursor: pointer;
}
.incart {
	&:hover {
		background-color: #ff9901;
	}
	display: block;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	background-color: #121212;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	opacity: 0.9;
	padding: 17px 24px;
	box-sizing: border-box;
	cursor: pointer;
}
.protuct-info-cost {
	&__image {
		width: 40px;
		height: 40px;
		text-align: center;
		margin: 0px 0px 0px 16px;
		display: flex;
		align-items: center;
		img {
			display: block;
			margin: auto;
		}
	}
}
.product-info {
	&__services {
		margin: 32px 0px 32px 0px;
	}
}
.services {
	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 480px) {
			flex-wrap: wrap;
		}
	}
}
.services-row {
	&__column {
		display: flex;
		align-items: center;
		margin: 0px 10px 0px 0px;
		&:last-child {
			margin: 0;
		}
		@media (max-width: 480px) {
			flex: 1 1 50%;
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.services-row-column {
	&__image {
		opacity: 0.6;
	}
	&__text {
		margin: 0px 0px 0px 6px;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		display: flex;
		align-items: center;
		color: #121212;
		opacity: 0.6;
	}
}
.product-info {
	&__guaranted {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 23px 0px;
	}
}
.product-info-guaranted {
	&__text {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		margin: 0px 24px 0px 0px;
	}
	&__line {
		background-color: #e6e6e6;
		height: 2px;
		width: 100%;
		max-width: 275px;
	}
}
.product-info {
	&__payservices {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0px 0px 32px 0px;
		border-bottom: 2px solid #e6e6e6;
	}
}
.product-info-payservices {
	&__logo {
		padding: 0px 5px;
	}
}
.product-info {
	&__description {
		margin: 32px 0px 0px 0px;
		border-bottom: 2px solid #e6e6e6;
	}
}
.product-info-description {
	&__text {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		opacity: 0.6;
		margin: 0px 0px 32px 0px;
	}
}
.product-info {
	&__additional {
		border-bottom: 2px solid #e6e6e6;
	}
}
.product-info-additional {
	&__title {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		margin: 32px 0px;
	}
	&__item {
		display: flex;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		align-items: center;
		color: #121212;
		margin: 0px 0px 12px 0px;
		&:last-child {
			margin: 0px 0px 32px 0px;
		}
		span {
			font-size: 14px;
			line-height: 22px;
			align-items: center;
			color: #121212;
			opacity: 0.6;
			margin: 0px 0px 0px 4px;
		}
	}
}
.product-info {
	&__reviews {
		border-bottom: 2px solid #e6e6e6;
	}
}
.product-info-reviews {
	&__title {
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		margin: 32px 0px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0px 12px 0px;
	}
	&__private {
	}
}
.reviews {
	&__image {
	}
	&__text {
	}
}
.product-info-reviews-row {
	&__write {
		display: flex;
		cursor: pointer;
	}
}
.product-info-write {
	&__image {
		opacity: 0.6;
		img {
			height: 18px;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		display: flex;
		align-items: center;
		color: #121212;
		opacity: 0.6;
		margin: 0px 0px 0px 6px;
	}
}
.product-info-reviews-private {
	&__block {
	}
	&__title {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 12px 0px;
	}
	&__text {
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #121212;
		opacity: 0.8;
		margin: 0px 0px 32px 0px;
	}
}
.product-info-reviews-private-title {
	&__name {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		display: flex;
		align-items: center;
		color: #121212;
		margin: 12px 0px 12px 0px;
	}
}
.revers {
	flex-direction: row-reverse;
	&__text {
		margin: 0px 0px 0px 6px;
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		color: #121212;
		opacity: 0.4;
	}
}
.text-revers {
	margin: 0px 6px 0px 0px;
	font-weight: 500;
	font-size: 11px;
	line-height: 18px;
	color: #121212;
	opacity: 0.4;
}
.product {
	&__related {
		padding: 0px 0px 96px 0px;
	}
}
.product-related {
	&__slider {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 96px 0px 41px 0px;
		@media (max-width: 860px) {
			margin: 46px 0px 21px 0px;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 255px);
		gap: 30px;
		justify-content: center;
		align-items: center;
	}
}
.product-related-slider {
	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 25px;
		display: flex;
		align-items: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
		@media (max-width: 860px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
	&__arrows {
		display: flex;
	}
}
.line-arrows {
	&__image {
		opacity: 0.7;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		margin: 0px 0px 0px 16px;
		&:first-child {
			margin: 0;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
