.categories__top-block {
  background-color: #f8f8f8;
}

.categories-top-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-home {
  margin: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-home__title {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #121212;
  opacity: 0.6;
}

.link-home__image {
  margin: 0px 6px;
}

.link-home__categoties {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}

.link-share__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-share-item__image {
  opacity: 0.6;
}

.link-share-item__title {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #121212;
  opacity: 0.6;
  margin: 0px 0px 0px 6px;
}

.categories-top-block__title {
  background-color: #f8f8f8;
  padding: 10px 0px 24px 0px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  text-align: center;
}

.filter-block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 36px 0px;
}

.filter-item-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/public/img/icons/filter.png) no-repeat;
  background-size: 21.5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
  padding: 0px 0px 0px 39px;
  height: 24px;
}

.filter-item-filter.visible {
  background: url(/public/img/icons/close.png) no-repeat;
  background-size: 21.5px;
}

.filter-item__image {
  background-size: 14px;
}

.filter-item__title {
  background: url(/public/img/icons/filter.png) no-repeat;
  background-size: 21.5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
  padding: 0px 0px 0px 29px;
}

.filter-item__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.filter-item__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-item-select__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
}

.filter-item-select__image {
  margin: 0px 0px 0px 4px;
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (255px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 255px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-area {
  padding: 0px 0px 178px 0px;
}
