.header {
	&__top {
		background-color: black;
	}
	&__bottom {
		background-color: #ffff;
		@media (max-width: 996px) {
			background-color: #e4e3e3;
		}
	}
}
.header-top {
	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__column {
	}
	&__info {
	}
	&__social {
	}
	&__img {
		height: 14px;
		opacity: 0.8;
	}
}
.header-top-info {
	&__list {
		display: flex;
		align-items: center;
		li {
			margin: 0px 0px 0px 29px;
			&:first-child {
				margin: 0;
			}
		}
	}
	&__link {
		display: inline-block;
		color: #ffff;
		opacity: 0.8;
		padding: 0px 0px 0px 22px;
		font-family: Spartan;
		font-weight: 500;
		line-height: 12px;
		font-size: 11px;
		margin: 6px 0px;
	}
}
.link {
	&_phone {
		background: url(/src/components/Header/img/phone2.svg) no-repeat;
		background-size: 14px;
		position: left;
	}
	&_clock {
		background: url(/src/components/Header/img/clock2.svg) no-repeat;
		background-size: 14px;
		@media (max-width: 595px) {
			display: none;
		}
	}
	&_marker {
		background: url(/src/components/Header/img/location-marker2.svg) no-repeat;
		background-size: 14px;
		font-family: Inter;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.05em;
		@media (max-width: 595px) {
			display: none;
		}
	}
}
.header-top-social {
	&__list {
		display: flex;
		align-items: center;
		li {
			margin: 0px 0px 0px 10px;
			&:first-child {
				margin: 0;
			}
		}
	}
	&__link {
	}
}
/*----------------header-bottom---------------------*/
.header-bottom {
	@media (max-width: 996px) {
		background-color: #eb1515;
	}
}
.header-bottom {
	&__columns {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		@media (max-width: 996px) {
			justify-content: space-between;
		}
	}
	&__column {
	}
	&__home {
		padding: 0px 10px 0px 0px;
		margin: 15px 0px 19px 0px;
		@media (max-width: 970px) {
			margin: 10px 20px 10px 0px;
		}
	}
	&__icon {
		margin: 0px 24px 0px 0px;
		&:last-child {
			margin: 0;
		}
		@media (max-width: 640px) {
			margin: 0px 8px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.menu {
}
.header-nav-logo {
	font-size: 24px;
	line-height: 32px;
	color: #121212;
	font-family: Playfair Display SC;
	font-weight: 400;
	line-height: 40px;
}
.header-bottom-menu {
	&__list {
		display: flex;
		padding: 0px 10px 0px 10px;
		li {
			margin: 0px 32px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: 996px) {
			flex-direction: column;
			height: 100%;
			justify-content: space-around;
		}
	}
}
.menu-item {
	font-size: 14px;
	line-height: 16px;
	color: #121212;
}
.header-bottom-icons {
	padding: 0px 10px 0px 0px;
	display: flex;
}
/*--------------menu-burger---------------*/
.burger-menu-btn {
	width: 20px;
	height: 18px;
	position: relative;
	cursor: pointer;
	display: none;
	@media (max-width: 996px) {
		display: block;
	}
}
.burger-menu-btn::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	top: 0;
	background-color: #121212;
}

.burger-menu-btn span {
	position: absolute;
	width: 20px;
	height: 2px;
	top: 8px;
	background-color: #121212;
}

.burger-menu-btn::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	bottom: 0;
	background-color: #121212;
}
.burger-menu-btn.visible::before {
	transform: rotate(45deg);
	top: 8px;
}
.burger-menu-btn.visible span {
	transform: scale(0);
}
.burger-menu-btn.visible::after {
	transform: rotate(-45deg);
	bottom: 8px;
}

.header-bottom__column.number-2 {
	@media (max-width: 996px) {
		position: absolute;
		top: 100px;
		z-index: 50;
		display: flex;
		width: 100%;
		height: 550px;
		background-color: rgba(228, 227, 227, 0.8);
		transform: translateX(-110%);
	}
}
.header-bottom__column.number-2.visible {
	transform: translateX(0);
	transition: all, 0.4s;
}
