.header {
	&__top {
		background-color: black;
	}

	&__bottom {
		background-color: #ffff;
	}
}

.header-top {
	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
	}

	&__info {
	}

	&__social {
	}

	&__img {
		height: 14px;
		opacity: 0.8;
	}
}
.header-top-info {
	&__list {
		display: flex;
		align-items: center;
		li {
			margin: 0px 0px 0px 29px;
			&:first-child {
				margin: 0;
			}
		}
	}

	&__link {
		display: inline-block;
		color: #ffff;
		opacity: 0.8;
		padding: 0px 0px 0px 22px;
		font-family: Spartan;
		font-weight: 500;
		line-height: 12px;
		font-size: 11px;
		margin: 6px 0px;
	}
}

.link {
	&_phone {
		background: url(/src/components/Header/img/phone2.svg) no-repeat;
		background-size: 14px;
		position: left;
	}

	&_clock {
		background: url(/src/components/Header/img/clock2.svg) no-repeat;
		background-size: 14px;
	}

	&_marker {
		background: url(/src/components/Header/img/location-marker2.svg) no-repeat;
		background-size: 14px;
		font-family: Inter;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0.05em;
	}
}

.header-top-social {
	&__list {
		display: flex;
		align-items: center;

		li {
			margin: 0px 0px 0px 10px;
			&:first-child {
				margin: 0;
			}
		}
	}

	&__link {
	}
}
