.content {
	margin: 32px 0px 0px 0px;
	&__items {
	}
}
.content {
	&__items {
		display: flex;
		column-gap: 30px;
		@media (max-width: 760px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
.content-items {
	&__item {
		flex: 0 1 50%;
		@media (max-width: 760px) {
			margin: 0px 0px 10px 0px;
			flex: 1 1 100%;
		}
		&_big {
		}
	}

	&__columns {
		height: 100%;
	}
}
.content-items-item {
	&__image {
		position: relative;
		padding: 0px 0px 90.743% 0px;
	}
}
.content-column {
	&__item {
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
		margin: 0px 0px 30px 0px;
		@media (max-width: 760px) {
			margin: 0px 0px 10px 0px;
			column-gap: 10px;
		}
	}
	&__middle {
		position: relative;
		padding: 0px 0px 48.15% 0px;
	}
}
.content-column-item {
	&__little {
		flex: 0 1 50%;
	}
}
.content-column-item-little {
	&__image {
		position: relative;
		padding: 0px 0px 78.435% 0px;
		@media (max-width: 760px) {
		}
	}
}
.content-items-item__image img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.content-column-item__little img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.content-column__middle img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.content-items-block-link {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-items-item__link {
	display: block;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #121212;
	padding: 13px 24px;
	border-radius: 4px;
}
.content-slider {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-items-item {
	&__slider {
		// top: 39%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// top: 0;
		// left: 0;
		// object-fit: contain;
	}
}
.content-block {
	&__arrow {
	}
}
.content-items-item-slider {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ffff;
		border-radius: 4px;
		font-family: Spartan;
		font-weight: 600;
		color: #121212;
		// margin: 0px 62px;
		padding: 0px 32px;
	}
}
.content-items-item-link {
	&__title {
		margin: 24px 0px 14px;
		opacity: 0.4;
		font-size: 12px;
		line-height: 13px;
	}

	&__text {
		font-size: 22px;
		line-height: 25px;
		font-weight: 600;
		margin: 0px 0px 24px 0px;
		@media (max-width: 960px) {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
