.Part3 {
}
.navigate {
	&__memu {
		margin: 92px 0px 48px 0px;
		@media (max-width: 830px) {
			margin: 30px 0px 20px 0px;
		}
	}
}
.navigate-menu {
	&__columns {
		display: flex;
		justify-content: space-between;
		@media (max-width: 830px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__column {
	}
	&__list {
	}
	&__links {
		display: flex;
		align-items: center;
		@media (max-width: 600px) {
			flex-direction: column;
		}
		li {
			@media (max-width: 600px) {
				margin: 0px 0px 10px 0px;
				&:last-child {
					margin: 0;
				}
			}
			:hover {
				font-weight: 500;
				opacity: 1;
			}
			margin: 0px 32px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.navigate-menu-colum {
	color: #121212;
	&__title {
		color: #121212;
		font-weight: 600;
		font-size: 22px;
		line-height: 25px;
		display: flex;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		@media (max-width: 830px) {
			margin: 0px 0px 20px 0px;
		}
	}
}
.navigate-menu__link {
	display: block;
	color: #121212;
	font-weight: 400;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 0.06em;
	opacity: 0.6;
}
/*---------------woman------------------*/
.parth {
	&__clothes {
	}
}
.parth3 {
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, 255px);
		gap: 30px;
		justify-content: center;
	}
	&__button {
		height: 48px;
		min-width: 100%;
		display: block;
		margin: 48px 0px 0px 0px;
		background: #f8f8f8;
		border: 2px solid #f8f8f8;
		box-sizing: border-box;
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		margin: 48px 0px 0px 0px;
	}
}
.card-item {
}
.parth3-item {
	&__img {
	}
	&__title {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #121212;
		opacity: 0.6;
		margin: 16px 0px 0px 0px;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 12px 0px 0px 0px;
	}
}
.parth3-item-box {
	&__cost {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		color: #121212;
	}
	&__grade {
		img {
			height: 14px;
		}
	}
}
