.Part6 {
	padding: 96px 0px 90px 0px;
	@media (max-width: 850px) {
		padding: 45px 0px 40px 0px;
	}
}
.part6 {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0px 46px 0px;
	}
	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		column-gap: 30px;
	}
	&__column {
		@media (max-width: 1139px) {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.part6-top {
	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 0.06em;
		@media (max-width: 460px) {
			font-size: 16px;
			line-height: 18px;
		}
	}
	&__link {
	}
}
.part6-top-link {
	&__view {
		font-weight: 500;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.06em;
		opacity: 0.6;
		color: #121212;
	}
}
.part6-column {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 0px 0px 78.858% 0px;
	}
}
.part6-column-content {
	&__image {
	}
	&__info {
		margin: -56px auto 0px auto;
		position: relative;
		max-width: 302px;
		// max-height: 125px;
		overflow: hidden;
		background-color: #ffff;
		padding: 0px 16px 0px 16px;
		&:hover {
			max-height: none;
		}
		@media (max-width: 985px) {
			margin: -56px auto 15px auto;
		}
	}
}
.part6-info {
	&__title {
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin: 24px 0px 12px 0px;
	}
	&__text {
	}
}
.part6-info-text {
	&__main {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		opacity: 0.8;
		margin: 0px 0px 25px;
	}
	&__date {
		display: flex;
		justify-content: space-between;
	}
}
.part6-info-date {
	&__date {
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		opacity: 0.6;
	}
}
.part-info-date {
	&__readmore {
	}
}
.part6-info-readmore {
	&__link {
		font-weight: 600;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #121212;
	}
}
.part6-column-content__image img {
	position: absolute;
	height: 100%;
	// width: 100%;
	top: 0;
	left: 0;
}
