*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*--------------------*/
.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}
