.header__top {
  background-color: black;
}

.header__bottom {
  background-color: #ffff;
}

.header-top__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__img {
  height: 14px;
  opacity: 0.8;
}

.header-top-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-info__list li {
  margin: 0px 0px 0px 29px;
}

.header-top-info__list li:first-child {
  margin: 0;
}

.header-top-info__link {
  display: inline-block;
  color: #ffff;
  opacity: 0.8;
  padding: 0px 0px 0px 22px;
  font-family: Spartan;
  font-weight: 500;
  line-height: 12px;
  font-size: 11px;
  margin: 6px 0px;
}

.link_phone {
  background: url(/src/components/Header/img/phone2.svg) no-repeat;
  background-size: 14px;
  position: left;
}

.link_clock {
  background: url(/src/components/Header/img/clock2.svg) no-repeat;
  background-size: 14px;
}

@media (max-width: 595px) {
  .link_clock {
    display: none;
  }
}

.link_marker {
  background: url(/src/components/Header/img/location-marker2.svg) no-repeat;
  background-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.05em;
}

@media (max-width: 595px) {
  .link_marker {
    display: none;
  }
}

.header-top-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-social__list li {
  margin: 0px 0px 0px 10px;
}

.header-top-social__list li:first-child {
  margin: 0;
}

/*----------------header-bottom---------------------*/
.header-bottom__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 970px) {
  .header-bottom__columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-bottom__columns .header-bottom__column.number-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-bottom__columns .header-bottom__column.number-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-bottom__columns .header-bottom__column.number-3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header-bottom__home {
  padding: 0px 10px 0px 0px;
  margin: 15px 0px 19px 0px;
}

@media (max-width: 970px) {
  .header-bottom__home {
    margin: 10px 20px 10px 0px;
  }
}

.header-bottom__icon {
  margin: 0px 24px 0px 0px;
}

.header-bottom__icon:last-child {
  margin: 0;
}

@media (max-width: 640px) {
  .header-bottom__icon {
    margin: 0px 12px 0px 0px;
  }
  .header-bottom__icon:last-child {
    margin: 0;
  }
}

.header-nav-logo {
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  font-family: Playfair Display SC;
  font-weight: 400;
  line-height: 40px;
}

.header-bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 10px;
}

.header-bottom-menu__list li {
  margin: 0px 32px 0px 0px;
}

.header-bottom-menu__list li:last-child {
  margin: 0;
}

@media (max-width: 640px) {
  .header-bottom-menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-bottom-menu__list li {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}

.menu-item {
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.header-bottom-icons {
  padding: 0px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
