.header {
  grid-area: "header";
}

.header__top {
  background-color: black;
}

.header__bottom {
  background-color: #ffff;
}

@media (max-width: 996px) {
  .header__bottom {
    background-color: #e4e3e3;
  }
}

.header-top__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__img {
  height: 14px;
  opacity: 0.8;
}

.header-top-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-info__list li {
  margin: 0px 0px 0px 29px;
}

.header-top-info__list li:first-child {
  margin: 0;
}

.header-top-info__link {
  display: inline-block;
  color: #ffff;
  opacity: 0.8;
  padding: 0px 0px 0px 22px;
  font-family: Spartan;
  font-weight: 500;
  line-height: 12px;
  font-size: 11px;
  margin: 6px 0px;
}

.link_phone {
  background: url(/src/components/Header/img/phone2.svg) no-repeat;
  background-size: 14px;
  position: left;
}

.link_clock {
  background: url(/src/components/Header/img/clock2.svg) no-repeat;
  background-size: 14px;
}

@media (max-width: 595px) {
  .link_clock {
    display: none;
  }
}

.link_marker {
  background: url(/src/components/Header/img/location-marker2.svg) no-repeat;
  background-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.05em;
}

@media (max-width: 595px) {
  .link_marker {
    display: none;
  }
}

.header-top-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-social__list li {
  margin: 0px 0px 0px 10px;
}

.header-top-social__list li:first-child {
  margin: 0;
}

/*----------------header-bottom---------------------*/
@media (max-width: 996px) {
  .header-bottom {
    background-color: #eb1515;
  }
}

.header-bottom__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 996px) {
  .header-bottom__columns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-bottom__home {
  padding: 0px 10px 0px 0px;
  margin: 15px 0px 19px 0px;
}

@media (max-width: 970px) {
  .header-bottom__home {
    margin: 10px 20px 10px 0px;
  }
}

.header-bottom__icon {
  margin: 0px 24px 0px 0px;
}

.header-bottom__icon:last-child {
  margin: 0;
}

@media (max-width: 640px) {
  .header-bottom__icon {
    margin: 0px 8px 0px 0px;
  }
  .header-bottom__icon:last-child {
    margin: 0;
  }
}

.header-nav-logo {
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  font-family: Playfair Display SC;
  font-weight: 400;
  line-height: 40px;
}

.header-bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 10px;
}

.header-bottom-menu__list li {
  margin: 0px 32px 0px 0px;
}

.header-bottom-menu__list li:last-child {
  margin: 0;
}

@media (max-width: 996px) {
  .header-bottom-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu-item {
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.header-bottom-icons {
  padding: 0px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-icons img {
  display: block;
}

.cartcount {
  position: relative;
}

.cartcount .shoppingcount {
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  font-weight: 700;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  color: #ffff;
  font-size: 8px;
  line-height: 17px;
  background-color: #121212;
  opacity: 1;
}

/*--------------menu-burger---------------*/
.burger-menu-btn {
  width: 20px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: none;
}

@media (max-width: 996px) {
  .burger-menu-btn {
    display: block;
  }
}

.burger-menu-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  background-color: #121212;
}

.burger-menu-btn span {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 8px;
  background-color: #121212;
}

.burger-menu-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: 0;
  background-color: #121212;
}

.burger-menu-btn.visible::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.burger-menu-btn.visible span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger-menu-btn.visible::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

@media (max-width: 996px) {
  .header-bottom__column.number-2 {
    position: absolute;
    top: 100px;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 550px;
    background-color: rgba(228, 227, 227, 0.8);
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

.header-bottom__column.number-2.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}
